In [1]:
import mysql.connector as sql
import pandas as pd
import mitosheet

c=sql.connect(host='localhost', database='invoices',user='root',password='qweQWE123!@#')

In [2]:
vendors=pd.read_sql('SELECT * FROM vendors',c)
invoice_line_items=pd.read_sql('SELECT * FROM invoice_line_items',c)

In [3]:
invoice_line_items.head()

,invoice_id,invoice_sequence,account_number,line_item_amt,line_item_description
0,1.0,1.0,572.0,116.54,MVS Online Library
1,2.0,1.0,572.0,1083.58,MSDN
2,3.0,1.0,120.0,20551.18,CICS Part 2
3,4.0,1.0,120.0,26881.40,MVS JCL
4,5.0,1.0,527.0,936.93,Quarterly Maintenance

In [4]:
mitosheet.sheet(vendors, invoice_line_items,view_df=True)

MitoWidget(analysis_data_json='{"analysisName": "UUID-e5fc6af0-787e-4754-87c4-cd15b5e55d2c", "code": {"imports…

In [5]:
c1=sql.connect(host='localhost', database='sakila',user='root',password='qweQWE123!@#')

In [6]:
film=pd.read_sql('SELECT * FROM film',c1)
rental=pd.read_sql('SELECT * FROM rental',c1)
inventory=pd.read_sql('SELECT * FROM inventory',c1)

In [7]:
mitosheet.sheet(inventory, rental,view_df=True)

MitoWidget(analysis_data_json='{"analysisName": "UUID-c6f07fe2-98c7-452c-a0d6-95ed81d9fcfa", "code": {"imports…

In [8]:
from mitosheet import *; register_analysis('UUID-118853e4-8162-4386-9e17-0e9fb7757fdc')

# Pivoted inventory into df3
df3 = pd.DataFrame(data={})

# Deleted dataframe df3
del df3

# Merged inventory and rental
temp_df = rental.drop_duplicates(subset='inventory_id') # Remove duplicates so lookup merge only returns first match
inventory_tmp = inventory.drop(['last_update', 'store_id'], axis=1)
rental_tmp = temp_df.drop(['rental_date', 'last_update', 'return_date', 'rental_id', 'customer_id', 'staff_id'], axis=1)
df3 = inventory_tmp.merge(rental_tmp, left_on=['inventory_id'], right_on=['inventory_id'], how='left', suffixes=['_inventory', '_rental'])

# Pivoted df3 into df4
unused_columns = df3.columns.difference(set(['film_id']).union(set([])).union(set({'inventory_id'})))
tmp_df = df3.drop(unused_columns, axis=1)
pivot_table = tmp_df.pivot_table(
    index=['film_id'],
    values=['inventory_id'],
    aggfunc={'inventory_id': ['count']}
)
pivot_table.columns = [flatten_column_header(col) for col in pivot_table.columns.values]
df4 = pivot_table.reset_index()

# Added column new-column-zwa4 to inventory
inventory.insert(4, 'new-column-zwa4', 0)

# Set new-column-zwa4 in inventory to =IF(store_id==1, 'store1','store2')
inventory['new-column-zwa4'] = IF(inventory['store_id']==1, 'store1','store2')

# Added column new-column-5nwk to inventory
inventory.insert(5, 'new-column-5nwk', 0)

# Set new-column-5nwk in inventory to =UPPER(new-column-zwa4)
inventory['new-column-5nwk'] = UPPER(inventory['new-column-zwa4'])

# Added column new-column-1a69 to inventory
inventory.insert(6, 'new-column-1a69', 0)

# Set new-column-1a69 in inventory to =FIND(new-column-5nwk,'1')
inventory['new-column-1a69'] = FIND(inventory['new-column-5nwk'],'1')

# Added column new-column-w31t to inventory
inventory.insert(7, 'new-column-w31t', 0)

# Set new-column-w31t in inventory to =SUBSTITUTE(new-column-zwa4,'1','lol')
inventory['new-column-w31t'] = SUBSTITUTE(inventory['new-column-zwa4'],'1','lol')