In [2]:
import mysql.connector as sql
import pandas as pd
import mitosheet

In [1]:
pwd

'C:\\Users\\akshi\\Documents\\Semester1\\Python\\TrendsMarketplace'

In [3]:
f=pd.read_csv('C:\\Users\\akshi\\Documents\\Semester1\\Python\\TrendsMarketplace\\test.csv')
f.head()

,Student_ID,Student_name,City,DOB,DOA,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,1,Raj Vardhan,Ranchi,12/1/1997,11/30/1997,Ranch0,0,0,False,1,#NAME?
1,2,Naval Vaidya,Indore,NaN,###############################################################################################################################################################################################################################################################,Indore,0,0,False,0,NaN
2,3,Phuong Tran,Hanoi,12/3/1999,12/2/1999,Hano0,1,1,True,1,NaN
3,4,Akshita Srivastava,Ranchi,12/4/1981,12/3/1981,Ranch0,0,1,False,0,NaN
4,5,Coco,Ranchi,12/20/2019,12/19/2019,Ranch0,0,1,NaN,1,NaN

In [4]:
import mitosheet
mitosheet.sheet(f, view_df=True)

MitoWidget(analysis_data_json='{"analysisName": "UUID-00112827-6770-4e38-99d0-a478f768b117", "code": {"importsâ€¦

In [ ]:
from mitosheet import *; register_analysis('UUID-00112827-6770-4e38-99d0-a478f768b117')

# Pivoted f into df2
unused_columns = f.columns.difference(set(['City']).union(set([])).union(set({'City'})))
tmp_df = f.drop(unused_columns, axis=1)
pivot_table = tmp_df.pivot_table(
    index=['City'],
    values=['City'],
    aggfunc={'City': ['count']}
)
pivot_table.columns = [flatten_column_header(col) for col in pivot_table.columns.values]
df2 = pivot_table.reset_index()

In [ ]:
import mitosheet
mitosheet.sheet(f, view_df=True)

In [ ]:
from mitosheet import *; register_analysis('UUID-f756fddc-9a3d-4d16-85ea-650157d20123')

# Pivoted f into df2
df2 = pd.DataFrame(data={})

# Added column new-column-j6sn to f
f.insert(4, 'new-column-j6sn', 0)

# Set new-column-j6sn in f to =if(DOB=='',"0",DOB)
f['new-column-j6sn'] = IF(f['DOB']=='',"0",f['DOB'])

# Pivoted f into df2
df2 = pd.DataFrame(data={})

# Set column DOB at index 1 in f to None
f.at[1, 'DOB'] = None
f['new-column-j6sn'] = IF(f['DOB']=='',"0",f['DOB'])

# Set new-column-j6sn in f to IF(DOB=="","1","2")
f['new-column-j6sn'] = IF(f['DOB']=="","1","2")

# Changed DOB from object to datetime
import pandas as pd
f['DOB'] = pd.to_datetime(f['DOB'], infer_datetime_format=True, errors='coerce')
f['new-column-j6sn'] = IF(f['DOB']=="","1","2")

# Set new-column-j6sn in f to IF(DOB=="NaN","1","2")
f['new-column-j6sn'] = IF(f['DOB']=="NaN","1","2")

# Added column new-column-c3gc to f
f.insert(4, 'new-column-c3gc', 0)

# Set new-column-c3gc in f to =DAY(DOB)
f['new-column-c3gc'] = DAY(f['DOB'])

# Added column new-column-c1aa to f
f.insert(5, 'new-column-c1aa', 0)

# Set new-column-c1aa in f to =MONTH(DOB)
f['new-column-c1aa'] = MONTH(f['DOB'])

# Set new-column-j6sn in f to =YEAR(DOB)
f['new-column-j6sn'] = YEAR(f['DOB'])